# Ignore the assets/img_align_celea directory
assets/img_align_celea/

# Ignore the assets/img_align_celeba_small directory

# Ignore all zip files
*.zip

# Ignore all _pycache_ directories
__pycache__/

# Ignore db file for sqlite
*.db